<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="static/css/signin.css">
   <link rel="stylesheet" type="text/css" href="static/css/homepage.css">
     <title>frugali-TEA</title>
</head>
<body>
<div class="container">
  <div class="card">

  <%- include ('./partials/messages') %>
  <form id="signup" action="/signup" method="POST">
    <h1 class="header1">Sign up</h1>
    <label for="name"></label>
    <input type="text" placeholder="First Name*" name="firstname" value="<%=typeof name != 'undefined' ? name : '' %>" class="form-input" autocomplete="off" required>
    <input type="text" placeholder="Last Name*" name="lastname" value="<%=typeof lastname != 'undefined' ? lastname : '' %>" class="form-input" autocomplete="off" required><br>
    <input type="text" placeholder="Create a Username*" name="username" value="<%=typeof username != 'undefined' ? username : '' %>" class="form-input" autocomplete="off" required>
    <input type="text" name="email" placeholder="Email Address" value="<%=typeof email != 'undefined' ? email : '' %>" class="form-input" autocomplete="off" required><br>
    <input type="password" name="password" placeholder="Set a password" value="<%=typeof password != 'undefined' ? password : '' %>" class="form-input" autocomplete="off" required>
    <input type="password" name="confirmPassword" placeholder="Confirm password" value="<%=typeof confirmPassword != 'undefined' ? confirmPassword : '' %>" class="form-input" autocomplete="off" required><br>
    <button type="submit" class="button bouncy">Submit</button>
  </form>
</div>
</div>
</body>
</html>